body{
    background:white;
    margin:0;
    padding:0;
    min-height:100vh;
    
  }
  .Container{
    position:absolute;
    top:20%;
    left:20%;
    height:500px;
    width:350px;
    
  }
  .close{
    right:0;
    top:0;
    width:50px;
    height:50px;
  }
  .close::after{
    display: inline-block;
    position:absolute;
    right:2%;
    top:0;
    content: 'x';
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
  .listContainer{
    width:250px;
    height:350px;
    position:absolute;
    top:12%;
    left:14.5%;
  }
  .searchDiv{
    width: 248px;
    height:20px;
    border-bottom:2px solid ;
  }
  .feEmployees{
    width: 248px;
    height:310px;
    
  }
  .fe{
    border:1px solid rgb(172, 172, 172);
    width: 248px;
    height:25px;
    margin-top:20px;
    cursor: pointer;
  }
  .feName{
    font-size:14px;
    color:grey;
    cursor: pointer;
  }
  .search{
    outline: 0;
    width:222px;
    border-width: 0 0 0;
    display:inline-block;
  }
  .mark{
    position:absolute;
    right:3%;
    cursor: pointer;
  }
  .fe:checked {
    color: black;
    border:2px solid pink;
  }
  #save{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(39,130,216,1) 50%, rgba(68,68,186,1) 87%);
    border:0px;
    border-radius: 10%;;
    width:90px; height:35px;
    margin:10px;
    cursor: pointer;
  }
  #cancel{
    color:grey;
    border: 1px solid grey;
    border-radius: 10%;;
    width:90px; height:35px;
    margin:10px;
    cursor: pointer;
  }
  #btns{
    margin-left: 10px;
  }

  